<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>
<div class="container-fluid bg-3 text-center">    
  <h3><%= page %></h3><br>
  <div class="row">
    <div class="col-sm-4">
      <p>This is the very simple test for single page Node.js app.
        <br/>
        Jquery is in the Public/JavaScript/menu.js
      </p>
      
    </div>
    <div class="col-sm-4"> 
      <p>Database connection is the MongoDB. so when we use the MONGODB NOW.
        <br/>
        When press the contact us, From MongoDB, we get the saved User Lists
      </p>
    </div>
    <div class="col-sm-4"> 
      <p>This is the Grid and Flex in Layout.<br/> You can test with the responsive in the broswer inspect</p>
    </div>
  </div>
</div>
</body>
<% include partials/script %>
</html>
